.container {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.nameColumn {
  padding-left: 10px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: auto;
}

.subTitle {
  padding-top: 5px;
}

img {
  object-fit: cover;
}

.bigImg {
  width: 800px;
  border-radius: 2%;
}

.header {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 10px;
}

.locationColumn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.timeColumn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.eventList {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 800px;
}

.event {
  display: flex;
  padding-top: 10px;
  align-items: center;
  flex-direction: row;
}

.smallImg {
  width: 80px;
  height: 60px;
  border-radius: 10%;
}

.secondColumn {
  height: 60px;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.circle {
  border-radius: 50%;
  background-color: green;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: auto 2px;
}

.topLeft {
  position: absolute;
  display: flex;
  background-color: rgb(20, 10, 10, 0.5);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  z-index: 1;
  margin: 0 auto;
  top: 5px;
  left: 10px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(128, 128, 128, 0.5);
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.whiteBackground {
  background-color: white;
}

.input {
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
  display: flex;
  width: 800px;
  height: 40px;
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 0.375em;
  color: #363636;
  border: none;
}